<div class="ui padded grid">
<div class="row">
    <div class="column">
        <div class="ui segment">
            <div class="ui form" ng-submit="vm.editApp()" ng-method="post">
                <h4 class="ui dividing header">App Details</h4>
                <label>App Name</label>
                <div class="field">
                    <input type="text" name="appName" ng-model="vm.appName">
                </div>
                <label>Label</label>
                <div class="field">
                    <input type="text" name="label" ng-model="vm.label">
                </div>
                <label>Owners</label>
                <div class="field">
                    <selectize options="vm.ownerOptions" ng-model="vm.appOwners" config="vm.ownerConfig"></selectize>
                </div>
                <div class="ui hidden divider"></div>
                <div class="ui green submit button">Update App</div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
$(function(){
    $('.ui.form')
        .form({
            onSuccess: function() {
                vm.editApp();
            },
            appName: {
                identifier : 'appName',
                rules: [
                {
                    type   : 'empty',
                    prompt : 'Please enter a app name'
                }
                ]
            },
            label: {
                identifier : 'label',
                rules: [
                {
                    type   : 'empty',
                    prompt : 'Please enter a label'
                }
                ]
            }
        });

    $('.ui.checkbox').checkbox();
});
</script>
